html, body {
    width:100%;
	font-family: 'Quantico', sans-serif;
    padding:0;
    margin:auto;
    text-align:center;
    background:transparent url('/static/img/orgbg.png') repeat;
	overflow:hidden;
}

#container {
    
  width:100%;
  height:100%;
  position:relative;
  margin:auto;
}
#stats {
z-index:9999;
position:absolute;
}


.link {
font-family: 'Quantico', sans-serif;
text-decoration:none;
color:#666;
font-weight:lighter;
position:relative;
z-index:999;
font-size:1.5em;
}
.link:hover {
text-decoration:none;
color:#333;
font-size:1.5em;
}

#index {
font-weight:lighter;
}

.dg.ac {
z-index:999;
}
.dg.ac ul li span {
text-align:left;
}

#index ul {
padding:0;
list-style-type:decimal-leading-zero;
text-align:left;
width:55%;
float:right;
}


#index ul li {
margin-left:5%;
}

#index h1 {
color:#111;
font-weight:lighter;
text-shadow:-1px 1px 10px #333;
font-family: 'Quantico', sans-serif;
margin-top:20%;
text-align:right;
float:left;
margin-bottom:0;
width:46%;
font-size:3em;
}

.overlay {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-transition: 0.25s opacity;
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0),
                                      rgba(127, 127, 127, 0.2) 35%,
                                      rgba(0, 0, 0, 0.85));
  bottom: 0;
  display: -webkit-box;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}
#upload {
	margin-top:20%;
	z-index:999;
	position:relative;
	padding:0;
	list-style-type:decimal-leading-zero;
	text-align:left;
	width:55%;
	float:right;

}
.errorlist {
	font-size:10px;
	margin:0;}