{% extends "base.html" %}

{% block title %}experiments{% endblock %}

{% block head %}<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Codystar:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quantico:700,400' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content %}
<div id="index">
<h1>Experiments:</h1>
<ul>
<li><a class="link" href="/terrain/"> terrain generator</a></li>
<li><a class="link" href="/point/"> points in space</a></li>
<li><a class="link" href="/upload/"> upload your data</a></li>
</ul>
</div>
{% endblock %}
