{% extends "base.html" %}

{% block title %}experiments{% endblock %}

{% block head %}<link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Codystar:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=League+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quantico:700,400' rel='stylesheet' type='text/css'>
{% endblock %}


{% block content %}
<div id="index">
	<h1>walks</h1>
	<div class="list">
<ul>
	{% for obj in object %}
	<a href="/view/{{obj.id}}/"><li><p class="name">{{ obj.name }}</p><p class="date">{{obj.date_created}}</li></a>
	{% endfor %}
	{% if not object %}
	<p class="nop">None yet.</p>
	{% endif %}
</ul>
</div>
</div>
{% endblock %}
