{% extends "base.html" %}

{% block title %}point map{% endblock %}

{% block head %}

<script type="text/javascript" src="/static/js/Three.js"></script>
<script type="text/javascript" src="/static/js/rAF.js"></script>
<script type="text/javascript" src="/static/js/dat.gui.min.js"></script>

<script src="/static/js/Detector.js"></script>
<script src="/static/js/Stats.js"></script>

<script type="text/javascript" src="/static/js/Tween.js"></script>

<script type="text/javascript" src="/static/js/orgnet.js"></script>{% endblock %}


{% block content %}{% endblock %}
